<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/service/uploadFile">
        <table>
            <tr>
                <td>
                    <input type="text" name="title" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="description" />
                </td>
            </tr>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>